.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 30px;
   
    transition: transform 0.3s ease; 
}
.container:hover{
    transform: scale(1.025);
   
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
}