.divContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
  
  .btn {
    margin-right: 10px;
  }
  
  .searchBarContainer {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }
  
  .filterOrderContainer {
    display: flex;
    align-items: center;
  }
 
  
  .btn {
    margin-right: 20px;
    cursor: pointer;
  }
  
  .btn:hover {
    color: red;
  }