.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px;
  }
  
  .formContainer label {
    margin-bottom: 10px;
  }
  
  .formContainer select,
  .formContainer input {
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
  }
  
  .formContainer select:hover,
  .formContainer input:hover {
    transform: scale(1.1);
  }
  
  .formContainer button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    color: #333;
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    margin-top: 10px;
  }
  
  .formContainer button:hover {
    transform: scale(1.1);
  }
  